<%-include('partials/head') %>
</head>
<body>
<%-include('partials/navbar') %>
  <div >
     <div class="welmsg w-[600px] h-[270px]  font-extrabold text-2xl ml-auto mr-auto shadow-xl " >
   <form action="addhome" method="POST" class="flex flex-col justify-center gap-[20px] p-[40px] ">
    <h1 class="text-orange-700">Register Your home on Airrnb</h1>
    
 <input type="text" name="addhome" placeholder="add your home" class="border border-gray-300 p-2 rounded" required>
 <input type="submit" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer" value="Add Home">
   </form>
  </div>
  
  </div>
</body>
</html>