  <nav class="m-[5px] " >
    <ul class="flex gap-20 h-[50px] bg-red-500 mb-[15px] pl-[20px] pt-[10px] text-[18px] font-semibold text-white">
      <li><a href="/">Home</a></li>
      <li><a href="/addhome">Add HOme</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>