<nav class="m-2">
  <ul class="flex gap-8 h-[60px] bg-red-500 mb-4 px-6 items-center rounded-lg shadow-md text-[18px] font-semibold text-white">
    <li class="<%= pageTitle === 'Airnbnb' ? 'bg-red-400 rounded px-3 py-1' : 'hover:bg-red-600 rounded px-3 py-1 transition' %>">
      <a href="/">Home</a>
    </li>
    <li class="<%= pageTitle === 'Airnbn-AddHome' ? 'bg-red-400 rounded px-3 py-1' : 'hover:bg-red-600 rounded px-3 py-1 transition' %>">
      <a href="/addhome">Add Home</a>
    </li>
    <li class="<%= pageTitle === 'Airnbnb-Contact' ? 'bg-red-400 rounded px-3 py-1' : 'hover:bg-red-600 rounded px-3 py-1 transition' %>">
      <a href="/contact">Contact</a>
    </li>
  </ul>
</nav>
