<%-include('partials/head') %>
</head>
<body>
  <%-include('partials/navbar') %>
  <div class="welmsg w-[600px] h-[200px] flex flex-col justify-center items-center font-extrabold text-2xl ml-auto mr-auto shadow-xl " pl-[20px]>
    <h1>Home <span class="text-orange-500"><%= homeName %></span> added successfully!<br> <span class="text-red-600 font-extrabold text-3xl">Thanks for adding home on airnbn..</span> </h1> <br><br>   
     <a href="/" class="text-green-600" >Go to home</a>
</body>
</html>